.responsive {
    position: absolute !important;
}

@media (min-width: 800px) {
    .responsive {
        margin-left: 32vh !important;
        transform: scale(1, 1);
        bottom: 6.9vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
    #Icons {
        font-size: 19.5px;
    }
    #altitudegauge {
        position: relative;
        left: 11vh !important;
    }
    #seatbelt {
        position: relative;
        left: 8.5vh !important;
    }
    altitude {
        font-size: 2vh !important;
    }
    altitude:after {
        font-size: 0.9vh !important;
    }
}

@media (width: 3840px) and (height: 2160px) {
    .responsive {
        margin-left: 32.8vh !important;
        transform: scale(1.3, 1.3);
        bottom: 7.6vh !important;
    }
    .q-ml-xl {
        font-size: 100px;
        margin-left: -45px !important; /* Change this to space radials */
    }
    #Altimeter {
        font-size: 125px !important;
        left: 41% !important;
    }
    #AltimeterValue {
        font-size: 125px !important;
        left: -9% !important;
    }
    #Alt {
        font-size: 50px !important;
    }
    #Icons {
        font-size: 50px;
    }
    #altitudegauge {
        position: relative;
        left: 8.2vh !important;
    }
    #seatbelt {
        position: relative;
        left: 6.5vh !important;
    }
    altitude {
        font-size: 1.2vh !important;
    }
    altitude:after {
        font-size: 0.6vh !important;
    }
}

@media (width: 3440px) and (height: 1440px) {
    .responsive {
        margin-left: 33vh !important;
        transform: scale(1.3, 1.3);
        bottom: 7.6vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
    #Icons {
        font-size: 19.5px;
    }
    #altitudegauge {
        position: relative;
        left: 11.2vh !important;
    }
    altitude {
        font-size: 1.4vh !important;
    }
    altitude:after {
        font-size: 0.7vh !important;
    }
}

@media (width: 2560px) and (height: 1440px) {
    .responsive {
        margin-left: 33.5vh !important;
        transform: scale(1.3, 1.3);
        bottom: 7.2vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
    #Icons {
        font-size: 19.5px;
    }
    #altitudegauge {
        position: relative;
        left: 11vh !important;
    }
    altitude {
        font-size: 1.4vh !important;
    }
    altitude:after {
        font-size: 0.7vh !important;
    }
}

@media (width: 2560px) and (height: 1080px) {
}

@media (width: 1920px) and (height: 1440px) {
    .responsive {
        margin-left: 32vh !important;
        transform: scale(1.2, 1.2);
        bottom: 7.4vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
    #Icons {
        font-size: 19.5px;
    }
    #altitudegauge {
        position: relative;
        left: 10vh !important;
    }
    altitude {
        font-size: 1.6vh !important;
    }
    altitude:after {
        font-size: 0.7vh !important;
    }
}

@media (width: 1920px) and (height: 1200px) {
    .responsive {
        margin-left: 31.5vh !important;
        transform: scale(1, 1);
        bottom: 6.4vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
    #Icons {
        font-size: 19.5px;
    }
    #altitudegauge {
        position: relative;
        left: 10vh !important;
    }
    altitude {
        font-size: 1.8vh !important;
    }
    altitude:after {
        font-size: 0.8vh !important;
    }
}

@media (width: 1920px) and (height: 1080px) {
    .responsive {
        margin-left: 32vh !important;
        transform: scale(1, 1);
        bottom: 6.9vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
    #Icons {
        font-size: 19.5px;
    }
    #altitudegauge {
        position: relative;
        left: 11vh !important;
    }
    altitude {
        font-size: 2vh !important;
    }
    altitude:after {
        font-size: 0.9vh !important;
    }
}

@media (width: 1280px) and (height: 720px) {
    .responsive {
        margin-left: 30vh !important;
        transform: scale(0.65, 0.65);
        bottom: 4.7vh !important;
    }
    .q-ml-xl {
        font-size: 50px;
    }
    #Icons {
        font-size: 19.5px;
    }
    #altitudegauge {
        position: relative;
        left: 11vh !important;
    }
    altitude {
        font-size: 3vh !important;
    }
    altitude:after {
        font-size: 1.4vh !important;
    }
}
