@font-face {
    font-family: "Intro Bold Italic";
    src: url("./media/Intro\ Bold\ Italic.otf");
}

@font-face {
    font-family: "Intro Regular Italic";
    src: url("./media/Intro\ Regular\ Italic.otf");
}

::-webkit-scrollbar {
    display: none !important;
}

#main-container {
    width: 100%;
    height: auto;
    font-family: "Intro Bold Italic", sans-serif;
}

/* Money */

#money-container {
    position: absolute;
    right: 2vw;
    top: 5vh;
    font-weight: 400;
    font-size: 40px;
}

#sign,
#bank {
    text-align: right;
    color: #00ac31;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7);
}

#plus {
    font-size: 50px;
    text-align: right;
    color: #00ac31;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7);
}

#minus {
    font-size: 50px;
    text-align: right;
    color: #ac0000;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7);
}

#money {
    text-align: right;
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7);
}

#money-cash,
#money-bank {
    color: #ffffff;
}

/* Player HUD */

#playerHud {
    position: absolute;
    display: flex;
    left: 3vh;
    bottom: 0.2vw;
}

/* Vehicle */

.speedometer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px;
    width: 398px;
    height: 398px;
    transform-origin: bottom right;
    transform: scale(var(--scale));
}

.speedometer .shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(./media/shadow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: 0.8;
}

.speedometer .handshake-alert {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
}

.speedometer .handshake-alert.on {
    opacity: 1;
}

.speedometer .speed-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49.5%, -49.5%);
    height: 70.5%;
    width: 70.5%;
    stroke-width: 1.1px;
}

.speedometer .speed-percentage .circle {
    stroke: white;
    transition: all 0.7s linear;
    transform-origin: center;
    transform: rotate(229deg);
}

.speedometer .speed-percentage .fuel {
    stroke: #00d9b2;
    transition: all 1s linear;
    transform-origin: center;
    transform: rotate(132.5deg) scaleX(-1);
    stroke-width: 0.4px;
}

.speedometer .engine-state {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 55px;
}

.speedometer .engine-state svg {
    fill: rgba(255, 255, 255, 0.4);
}

.speedometer h1 {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-style: italic;
    font-size: 54px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-shadow: 0px 0px 55px rgba(0, 0, 0, 0.65);
}

.speedometer h1 span {
    color: rgba(255, 255, 255, 0.25);
}

.speedometer h1::after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "mph";
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 0px 0px 55px rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
}

.speedometer .gear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.07);
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.65);
    outline: 2px solid white;
    outline-offset: 5px;
}

.speedometer .needle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%) rotate(-42deg);
    padding-right: 26px;
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.65));
    transform-origin: right;
    transition: transform 0.7s linear;
}

.speedometer .gear span {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-shadow: 0px 0px 55px rgba(0, 0, 0, 0.65);
}

.speedometer .engine-icon {
    position: absolute;
    left: 15%;
    bottom: 27.7%;
    fill: rgba(255, 255, 255, 0.4);
    transition: fill 1s linear;
}

.speedometer .engine-icon.on {
    fill: #00d9b2;
}

.speedometer .fuel-icon {
    position: absolute;
    right: 15%;
    bottom: 27.7%;
    fill: #00d9b2;
    transition: fill 1s linear;
}

.speedometer .fuel-icon.medium-fuel {
    fill: #ffc700;
}

.speedometer .fuel-icon.low-fuel {
    fill: #ff0000;
    animation: blink 1s infinite;
}

.speedometer .speedometer-bg {
    position: absolute;
    left: 50%;
    top: 43%;
    width: 115%;
    height: 115%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -4;
}

/* Weapon */

#ammo-hud {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    font-weight: bold;
}

.current-ammo {
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.total-ammo {
    color: #808080;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.q-ml-xl {
    margin-left: -22px !important; /* Change this to space radials */
}

/* Animation */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

@media screen and (max-width: 4000px) {
    body {
        --scale: 1.5;
    }
}

@media screen and (max-width: 3000px) {
    body {
        --scale: 1.4;
    }
}

@media screen and (max-width: 2560px) {
    body {
        --scale: 1.3;
    }
}

@media screen and (max-width: 2100px) {
    body {
        --scale: 1.2;
    }
}

@media screen and (max-width: 2020px) {
    body {
        --scale: 1;
    }
}

@media screen and (max-width: 1520px) {
    body {
        --scale: 0.9;
    }
}

@media screen and (max-width: 1324px) {
    body {
        --scale: 0.87;
    }
}

@media screen and (max-width: 1124px) {
    body {
        --scale: 0.8;
    }
}

@media screen and (max-width: 1024px) {
    body {
        --scale: 0.7;
    }
}

@media screen and (max-width: 900px) {
    body {
        --scale: 0.6;
    }
}

@media screen and (max-width: 800px) {
    body {
        --scale: 0.5;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
