@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

:root {
    --fontxsmall: clamp(10px, 0.39375vh, 20px);
    --fontsmall: clamp(14px, 0.45vh, 20px);
    --fontmedium: clamp(16px, 0.50625vh, 30px);
    --fontlarge: clamp(20px, 0.675vh, 40px);
    --fontxl: clamp(30px, 1.125vh, 60px);
    --padlittle: clamp(5px, 0.16875vh, 25px);
    --padmedium: clamp(10px, 0.28125vh, 30px);
    --padlarge: clamp(15px, 0.5625vh, 100px);
    --padlarger: clamp(20px, 0.675vh, 150px);
    --gap: clamp(0.7rem, 0.005625vh, 2rem);
    --gaplarge: clamp(1rem, 0.5625vh, 4rem);
    --radius: clamp(12px, 0.45vh, 30px);
    --scale: 1;
}

svg {
    transition: all 0.3s ease;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease;
    pointer-events: all;
    opacity: 1;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    user-select: none;
    /* background: rgba(0,0,0,0.5); */
}

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    color: white;
    font-style: normal;
    letter-spacing: 0.1vh;
}

body > .bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    background-image: url(./media/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.input-menu,
.confirm-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    width: 320px;
    background-color: #161616e5;
    border-radius: 16px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

body.in-input-menu .input-menu,
body.in-confirm-menu .confirm-menu {
    pointer-events: all;
    opacity: 1;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 12px;
    border-bottom: 1px solid #ffffff24;
    position: relative;
}

.header .title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header .close-panel {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: calc(100% -40px);
    align-self: center;
}

.content input {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #2e2e2e;
    color: #ededed;
    padding: 0 12px;
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease;
}

.content input:hover {
    background-color: #ffffff1a;
    border-color: #505050;
}

.content input:focus {
    border: 2px solid #ededed;
    background-color: #343434;
}

.content .message {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff99;
    margin: 0;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.buttons button {
    height: 44px;
    padding: 0 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttons button.cancel {
    background-color: #ffffff12;
    color: #ededed;
}

.buttons button.cancel:hover {
    background-color: #ffffff24;
}

.buttons button.confirm {
    background-color: #2dff9b24;
    color: #57ffaf;
}

.buttons button.confirm:hover {
    background-color: #2dff9b36;
}

::-webkit-scrollbar {
    width: 0.5vh;
}

::-webkit-scrollbar-track {
    background: #28282a;
    border-radius: 23px;
}

::-webkit-scrollbar-thumb {
    background: #00fbdd;
    border-radius: 23px;
}

@media screen and (max-height: 4000px) {
    body {
        --scale: 1.5;
    }
}

@media screen and (max-height: 3500px) {
    body {
        --scale: 1.5;
    }
}

@media screen and (max-height: 3000px) {
    body {
        --scale: 1.5;
    }
}

@media screen and (max-height: 2500px) {
    body {
        --scale: 1.4;
    }
}

@media screen and (max-height: 2000px) {
    body {
        --scale: 1.3;
    }
}

@media screen and (max-height: 1500px) {
    body {
        --scale: 1.2;
    }
}

@media screen and (max-height: 1250px) {
    body {
        --scale: 1;
    }
}

@media screen and (max-height: 1000px) {
    body {
        --scale: 0.9;
    }
}

@media screen and (max-height: 900px) {
    body {
        --scale: 0.87;
    }
}

@media screen and (max-height: 800px) {
    body {
        --scale: 0.8;
    }
}

@media screen and (max-height: 700px) {
    body {
        --scale: 0.7;
    }
}

@media screen and (max-height: 600px) {
    body {
        --scale: 0.6;
    }
}
