/* Import apple font */
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    z-index: -11;
}
.screen{
    width: 100vw;
    height: 100vh;
    /* background: url(./media/bg.jpg); */
    position: relative;
    /* display: none; */
    transition: 1s;
    opacity: 0;
}
.circle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back_circle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    margin-left: 20px;
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 19.5px;
    width:11.5px;
}
h1{
    margin-left: 20px;
    font-size: 1rem;
    color: rgba(233, 233, 233, 0.7);
    letter-spacing: 2px;
    margin: 0;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -50%);
    text-align: center;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    transition: all 0.5s ease-in-out;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}